/* Footer styling */
.footer-section {
    background: #fff;
    color: #000;
}

.footer-logo {
    height: 64px;
    width: 314px;
}

.footer-heading h2 {
    font-size: 44px;
    line-height: 58px;
    font-weight: 600;
    color: #131313;
    font-family: "Montserrat", sans-serif;
    width: 590px;
}

.top-footer,
.middle-footer {
    margin-bottom: 100px;
    justify-content: space-between;
}

.quick-links h6,
ul li a,
p {
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #131313;
}

.quick-links ul li a:hover {
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #848484 !important;
}

@media only screen and (min-width: 992px) and (max-width: 1367px) {


    .quick-links h6,
    ul li a,
    p {
        font-size: 15px;
    }
}

@media only screen and (min-width: 350px) and (max-width: 800px) {
    .footer-logo {
        height: 36px;
        width: 176px;
    }

    .footer-heading h2 {
        font-size: 22px;
        line-height: 30px;
        width: 590px;
        display: ruby;
    }

    #rotating-footer-word {
        width: 130px;
        justify-content: left !important;
    }

    .top-footer {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .middle-footer {
        text-align: center;
        margin-bottom: 5px;
    }

    .quick-links h6,
    ul li a,
    p {
        font-family: "Work Sans", sans-serif;
        font-size: 16px;
    }

    .border-top-mobile {
        border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }

    .wrapper-footer {
        flex-direction: column;
        align-items: center;
        gap: 8px;
        display: -webkit-inline-box;
        text-align: justify;
        padding: 0rem 2rem;
    }

    .quick-links {
        margin-left: 10px;
    }

    .quick-links h6 {
        text-align: start;
        width: 100%;

    }

    .quick-links p {
        text-align: left;
        font-size: 14px;
        line-height: 25px;
    }

    .social-ul {
        justify-content: space-between;
        display: flex;
    }
}
